.container
{
max-width: 800px;
margin-top: 20px;
}
p {
color:#6f42c1;
font-size:12px;
}
.container-card {
font-size:11px;
}
.mat-card-header .mat-card-title {
font-size: 18px;
}
mat-card-title{
color:#6f42c1;
font-size:10px;
}