<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
  <p style="color: white" > Please wait... </p>
</ngx-spinner>
<mat-card class="container">
  <mat-card-header>
    <mat-card-title>GuildLink Test App </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="dateForm" (ngSubmit)="onSubmit()" id="dform">
    <div class="container">
      <p>Number of Weekdays between two dates per State or Territory in Australia </p>
      <div class="row">
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-label>From Date</mat-label>
            <input matInput [matDatepicker]="stratDate" formControlName="fromDate"/>
            <mat-datepicker-toggle matSuffix [for]="stratDate">
            </mat-datepicker-toggle>
            <mat-datepicker #stratDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-label>To Date</mat-label>
            <input matInput [matDatepicker]="endDate" formControlName="endDate" [min]="dateForm.controls['fromDate'].value" />
            <mat-datepicker-toggle matSuffix [for]="endDate">
            </mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-label>State or Territory</mat-label>
            <mat-select formControlName="jurisdiction">
              <mat-option *ngFor="let st of state" [value]="st.value">
              {{st.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-checkbox style="margin-left: 4px;" formControlName="isDateIncludes">Include Start & End Date</mat-checkbox>
        </div>
      </div>
      <mat-card-actions style="margin-left: 4px;">
        <button mat-button style= 
          "background-color:blueviolet; color:white" id="btnSubmit">
        Submit
        </button>
      </mat-card-actions>
    </div>
    <div class="text-left" style="margin-top: 10px;">
      <p>{{dayCount}}</p>
    </div>
    </form>
    <div>
      <p>Case 1: NSW – 28/04/2021 to 05/05/2021 Should return 4 (Not including DateFrom and DateTo)</p>
      <p>Case 2: QLD – 28/04/2021 to 05/05/2021 Should return 3 (03/05/2021 is the Labour Day in QLD) (Not including DateFrom and DateTo)
      </p>
      <p>Case 3: NSW – 16/07/2021 to 19/07/2021 Should return 0 (Not including DateFrom and DateTo)
      </p>
      <p>Case 4: NSW – 16/07/2021 to 19/07/2021 Should return 2 (Including DateFrom and DateTo)
      </p>
    </div>
  </mat-card-content>
</mat-card>